@font-face {
    font-family: 'alegreya';
    src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'), url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --yellow: #ffc92f;
    --red: #d82727;
    --black: #1b1b1b;
    --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html,
body {
    height: 100%;
}

.wrapper {
    overflow: hidden;
}


body {
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fcf5e6;
}

ul {
    margin: 0;
    padding: 0;
}

    ul > li {
        list-style: none;
    }

.logo {
    margin-top: -55px;
}

.hero {
    height: 100vh;
    min-height: 650px;
    background: url('./img/bg/hero.jpg') center center / cover no-repeat;
    margin-bottom: 0px;
}

.maintel {
    text-align: center;
    margin-top: -80px;
}

.header {
    background: center center / cover no-repeat;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.htel {
    color: yellow;
    padding-top: 2px;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

.tel1 {
    text-decoration: none;
    margin: 0px;
    font-size: 25px;
    color: yellow;
}

.telOpis {
    color: orange;
}

.tel__operator {
    color: yellow;
    text-align: center;
}

.container1 {
    margin-top: 70px;
    width: 1000px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.photo_container{
    margin-top:100px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.img {
    width: 30%;
    height: 90%;
}


.maintel:nth-child(2) {
    margin-top: -130px;
}

.tel {
    text-decoration: none;
    color: yellow;
    font-size: 25px;
}

.mail {
    margin-top: -25px;
    text-decoration: none;
    text-align: center;
    color: inherit;
}




.mail__title {
    color: yellow;
    margin-bottom: 3px;
}

.mail__content {
    background: #212121;
    color: var(--yellow);
    padding: 5px 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.filter__item {
    margin-right: 40px;
}

    .filter__item:last-child {
        margin-right: 0;
    }

.filter__link {
    font-family: var(--titlesFont);
    text-transform: uppercase;
    padding: 3px 21px;
    color: var(--black);
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

    .filter__link:hover {
        color: var(--red);
    }

.filter__item--active .filter__link {
    color: var(--yellow);
    background: var(--black);
}

.site-menu {
    align-items: center;
    margin-bottom: 115px;
}

.site-menu__sections {
    background: center center / cover no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}

.site-menu__col {
    margin-right: 100px;
}

    .site-menu__col:last-child {
        margin-right: 0px;
    }

.site-menu__title {
    font-family: var(--titlesFont);
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.site-menu__item {
    margin-bottom: 15px;
}

.site-menu__link {
    color: #737373;
    font-size: 15px;
    text-decoration: none;
}

    .site-menu__link:hover {
        color: var(--red);
    }

.site-menu__text {
    font-size: 15px;
    color: var(--black);
    margin-bottom: 30px;
}

.site-menu__text-row {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.modal {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0; 
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none; 
    margin: 0;
    padding: 0;
}

    .modal:target {
        opacity: 1; 
        pointer-events: auto; 
        overflow-y: auto; 
    }

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto; 
    }
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}

.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
    
    .close:focus, .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .75;
    }

.modal-body {
    position: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

@media (max-device-width: 320px) {

    .wrapper {
        width: 100%;
    }

    .hero {
        min-height: 1200px;
    }

    .logo {
        margin-left: -80px;
    }

    .htel {
        margin: -10px;
    }

    .header {
        padding: 84px;
        margin-left: -3px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .mail {
        margin-right: 120px;
    }

    .maintel {
        margin-left: -30px;
    }

        .maintel:nth-child(2) {
            order: -1;
        }

        .maintel:nth-child(2) {
            margin-top: -50px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(3) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(1) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .container1 {
        height: 287px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .photo_container {
        align-items: center;
        margin-top: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img {
        width: 180%;

    }
        .container {
        width: 350px;
        margin-left: 5px;
    }

    .site-menu__sections {
        justify-content: start;
        position: relative;
    }

    .site-menu__col {
        margin-right: 16px;
    }

    .site-menu__title {
        font-size: 15px;
    }

    .site-menu__text {
        font-size: 12px;
    }
}
@media (min-device-width:321px) and (max-device-width: 375px) {

    .wrapper {
        width: 100%;
    }

    .hero {
        min-height: 1300px;
    }
    .container1 {
        margin-left: 29px;
        height: 287px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .photo_container {
        align-items: center;
        margin-top: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img {
        width: 170%;
    }

    .logo {
        margin-left: -58px;
    }

    .htel {
        margin: -10px;
    }

    .header {
        padding: 84px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .mail {
        margin-left: 3px;
    }

    .maintel {
        margin-left: -30px;
    }

        .maintel:nth-child(2) {
            order: -1;
        }

        .maintel:nth-child(2) {
            margin-top: -50px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(3) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(1) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .container {
        width: 350px;
        margin-left: 5px;
    }

    .site-menu__sections {
        justify-content: start;
        position: relative;
    }

    .site-menu__col {
        margin-right: 80px;
    }

    .site-menu__title {
        font-size: 15px;
    }

    .site-menu__text {
        font-size: 12px;
    }
}
@media (min-device-width: 376px) and (max-device-width: 412px) {

    .wrapper {
        width: 100%;
    }

    .hero {
        min-height: 1500px;
    }

    .container1 {
        margin-left: 32px;
        height: 287px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .photo_container {
        align-items: center;
        margin-top: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img {
        width: 180%;
    }

    .logo {
        margin-left: -52px;
    }

    .htel {
        margin: -10px;
    }

    .header {
        padding: 84px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .mail {
        margin-left: 3px;
    }

    .maintel {
        margin-left: -30px;
    }

        .maintel:nth-child(2) {
            order: -1;
        }

        .maintel:nth-child(2) {
            margin-top: -50px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(3) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(1) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .container {
        width: 350px;
        margin-left: 5px;
    }

    .site-menu__sections {
        justify-content: start;
        position: relative;
    }

    .site-menu__col {
        margin-right: 80px;
    }

    .site-menu__title {
        font-size: 15px;
    }

    .site-menu__text {
        font-size: 12px;
    }
}
@media (min-device-width: 413px) and (max-device-width: 415px) {

    .wrapper {
        width: 100%;
    }

    .hero {
        min-height: 1500px;
    }

    .container1 {
        margin-left: 46px;
        height: 287px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .photo_container {
        align-items: center;
        margin-top: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img {
        width: 180%;
    }

    .logo {
        margin-left: -36px;
    }

    .htel {
        margin: -10px;
    }

    .header {
        padding: 84px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .mail {
        margin-left: 9px;
    }

    .maintel {
        margin-left: -30px;
    }

        .maintel:nth-child(2) {
            order: -1;
        }

        .maintel:nth-child(2) {
            margin-top: -50px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(3) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(1) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .container {
        width: 350px;
        margin-left: 5px;
    }

    .site-menu__sections {
        justify-content: start;
        position: relative;
    }

    .site-menu__col {
        margin-right: 80px;
    }

    .site-menu__title {
        font-size: 15px;
    }

    .site-menu__text {
        font-size: 12px;
    }
}

@media (min-device-width: 416px) and (max-device-width: 540px) {

    .wrapper {
        width: 100%;
    }

    .hero {
        min-height: 1700px;
    }

    .container1 {
        margin-left: 116px;
        height: 287px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .photo_container {
        align-items: center;
        margin-top: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img {
        width: 140%;
    }


    .logo {
        margin-left: 29px;
    }

    .htel {
        margin: -10px;
    }

    .header {
        padding: 84px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .mail {
        margin-left: 69px;
    }

    .maintel {
        margin-left: -30px;
    }

        .maintel:nth-child(2) {
            order: -1;
        }

        .maintel:nth-child(2) {
            margin-top: -50px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(3) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(1) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .container {
        width: 507px;
        margin-left: 5px;
    }

    .site-menu__sections {
        justify-content: start;
        position: relative;
    }

    .site-menu__col {
        margin-right: 234px;
    }

    .site-menu__title {
        font-size: 15px;
    }

    .site-menu__text {
        font-size: 12px;
    }
}
@media (min-device-width: 912px) and (max-device-width: 1023px) {
    .hero {
        height: 600px;
    }

    .container1 {
        margin-top: 130px;
    }

    .hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 500px;
        height: 40%;
    }
    .mail {
        margin-top: 16px;
    }
    .photo_container {
        margin-top: 32px;
    }
}
@media (min-device-width: 1181px) and (max-device-width: 1368px) {
    .mail {
        margin-top: 53px;
    }
}
@media (min-device-width: 1024px) and (max-device-width: 1180px) {
    .hero {
        height: 997px;
    }

    .container1 {
        margin-top: 130px;
    }

    .hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 500px;
        height: 40%;
    }

    .mail {
        margin-top: 56px;
    }
    .photo_container {
        margin-top: 115px;
    }
}
@media (min-device-width: 844px) and (max-device-width: 911px) {
    .hero {
        height: 997px;
    }

    .container1 {
        margin-top: 130px;
    }

    .hero__content {
        width: 840px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .mail {
        margin-top: -364px;
        height: 72px;
    }
}
@media (min-device-width: 768px) and (max-device-width: 843px) {
    .hero {
        height: 600px;
    }
    .container1{
        margin-top:130px;
    }
 
    .hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 500px;
        height: 40%;
    }

    .mail {
        margin-top: 12px;
    }
    .photo_container {
        margin-top: 48px;
    }
}
@media (min-device-width: 667px) and (max-device-width: 767px) {
    .hero {
        height:600px;
    }

    .container1 {
        margin-top: 130px;
    }

    .hero__content {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 500px;
        height: 40%;
    }

    .mail {
        margin-top: 35px;
    }
    .photo_container {
        margin-top: 55px;
    }
}
@media (min-device-width: 541px) and (max-device-width: 666px) {
    .hero {
        height: 997px;
    }

    .container1 {
        margin-top: 130px;
    }

    .hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 500px;
        height: 40%;
    }
    .mail {
        margin-top: -364px;
        height: 72px;
    }
}

