@font-face {
  font-family: 'alegreya';
  src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
    url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow: #ffc92f;
  --red: #d82727;
  --black: #1b1b1b;
  --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  overflow: hidden;

}


body {
  font: 16px / 1.42 "Roboto", Arial, sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fcf5e6;
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

.logo {
  margin-top: -55px;
}

.hero {
  height: 100vh;
  min-height: 650px;
  background: url('./hero.jpg') center center / cover no-repeat;
  margin-bottom: 0px;
}

.maintel{
    text-align:center;
    margin-top:-80px;
}

.header {
    background: center center / cover no-repeat;
    padding-top:80px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.htel {
    color: yellow;
    padding-top: 2px;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}
.tel1 {

    text-decoration: none;
    margin:0px;
    font-size: 25px;
    color: yellow;
}
.telOpis {
    color: orange;
}
.tel__operator {
    color:yellow;
    text-align: center;
}

.container1 {
    margin-top: 70px;
    width: 1000px;
    height: 1000px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.maintel:nth-child(2){
    margin-top:-130px;
}

.tel {
    text-decoration:none;
    color: yellow;
    font-size: 25px;
}

.mail {
    margin-top: -25px;
    text-decoration: none;
    text-align: center;
    color: inherit;
}


.mail__title {
    color: yellow;
    margin-bottom: 3px;
}

.mail__content {
  background: #212121;
  color: var(--yellow);
  padding: 5px 10px;
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 72%;
}

.fade-slider {
  width: 100%;
  height: 100%;
}

.fade-slider__item {
    background: center center / contain no-repeat;
    height: 100%;
    margin-top: 150px;
    margin-left: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    opacity: 0;
    transition: opacity .3s;
}

.fade-slider__item--visible {
  opacity: 1;
}



.fade-slider__item--style-tshirts {
  background-image: url("./slider_pic_1.png");
}

.fade-slider__item--style-tshirts .fade-slider__text {
  left: 50%;
  top: 50%;
  transform: translateX(-130%) translateY(-52%);
}

.fade-slider__item--style-games {
  background-image: url("./slider_pic_2.png");
}

.fade-slider__item--style-games .fade-slider__text {
  left: 50%;
  top: 50%;
  transform: translateX(-110%) translateY(-30%);
}

.fade-slider__item--style-games .lined-text {
  align-items: center;
}

.fade-slider__item--style-presents {
  background-image: url("./slider_pic_3.png");
}

.fade-slider__item--style-presents .fade-slider__text {
  left: 50%;
  top: 50%;
  transform: translateX(-130%) translateY(20%);
}

.fade-slider__item--style-presents .lined-text {
  align-items: center;
}

.fade-slider__text {
  position: absolute;
}

.lined-text {
  font-family: "alegreya", Arial, sans-serif;
  color: #fff;
  font-size: 63px;
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}


.lined-text__word {
  background: #000;
  padding: 0 17px 8px;
  margin-top: -7px;
  white-space: nowrap;
}

.lined-text__word--color-yellow {
  color: var(--yellow);
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.lined-text--no-indent .lined-text__word {
  margin-left: 0;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.filter__item {
  margin-right: 40px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__link {
  font-family: var(--titlesFont);
  text-transform: uppercase;
  padding: 3px 21px;
  color: var(--black);
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.filter__link:hover {
  color: var(--red);
}

.filter__item--active .filter__link {
  color: var(--yellow);
  background: var(--black);
}

.site-menu {
    align-items: center;
    margin-bottom: 115px;
}

.site-menu__sections {
    background:center center / cover no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}

.site-menu__col {
  margin-right: 100px;
}

.site-menu__col:last-child {
  margin-right: 0px;
}

.site-menu__title {
  font-family: var(--titlesFont);
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.site-menu__item {
  margin-bottom: 15px;
}

.site-menu__link {
  color: #737373;
  font-size: 15px;
  text-decoration: none;
}

.site-menu__link:hover {
  color: var(--red);
}

.site-menu__text {
  font-size: 15px;
  color: var(--black);
  margin-bottom: 30px;
}

.site-menu__text-row {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.modal {
    position: fixed; /* ôèêñèðîâàííîå ïîëîæåíèå */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* öâåò ôîíà */
    z-index: 1050;
    opacity: 0; /* ïî óìîë÷àíèþ ìîäàëüíîå îêíî ïðîçðà÷íî */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* àíèìàöèÿ ïåðåõîäà */
    pointer-events: none; /* ýëåìåíò íåâèäèì äëÿ ñîáûòèé ìûøè */
    margin: 0;
    padding: 0;
}
    /* ïðè îòîáðàæåíèè ìîäàëüíîãî îêíî */
    .modal:target {
        opacity: 1; /* äåëàåì îêíî âèäèìûì */
        pointer-events: auto; /* ýëåìåíò âèäèì äëÿ ñîáûòèé ìûøè */
        overflow-y: auto; /* äîáàâëÿåì ïðîêðóòêó ïî y, êîãäà ýëåìåíò íå ïîìåùàåòñÿ íà ñòðàíèöó */
    }
/* øèðèíà ìîäàëüíîãî îêíà è åãî îòñòóïû îò ýêðàíà */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto; /* äëÿ îòîáðàæåíèÿ ìîäàëüíîãî îêíà ïî öåíòðó */
    }
}
/* ñâîéñòâà äëÿ áëîêà, ñîäåðæàùåãî êîíòåíò ìîäàëüíîãî îêíà */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}
/* ñâîéñòâà äëÿ çàãîëîâêà ìîäàëüíîãî îêíà */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* ñâîéñòâà äëÿ êíîïêè "Çàêðûòü" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
    /* ñâîéñòâà äëÿ êíîïêè "Çàêðûòü" ïðè íàõîæäåíèè å¸ â ôîêóñå èëè íàâåäåíèè */
    .close:focus, .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .75;
    }
/* ñâîéñòâà äëÿ áëîêà, ñîäåðæàùåãî îñíîâíîå ñîäåðæèìîå îêíà */
.modal-body {
    position: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

@media (max-device-width: 375px) {

    .wrapper {
        width: 100%;
    }

    .hero {
        min-height: 921px;
    }

    .logo {
        margin-left: -80px;
    }

    .htel {
        margin: -10px;
    }

    .hero__content {
        max-width: 230px;
        max-height: 230px;
        margin-top: 245px;
    }

    .header {
        padding: 84px;
        margin-left: 35px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .mail {
        margin-right: 120px;
    }

    .maintel {
        margin-left: -30px;
    }

        .maintel:nth-child(2) {
            order: -1;
        }

        .maintel:nth-child(2) {
            margin-top: -50px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(3) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(1) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .container1 {
        height: 600px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .fade-slider__item--style-tshirts .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-games .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item--style-presents .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item {
        margin-top: 20px;
        width: 150%;
        height: 100%;
        margin-left: -52px;
    }

    .lined-text__word {
        font-size: 30px
    }

    .container {
        width: 350px;
        margin-left: 5px;
    }

    .site-menu__sections {
        justify-content: start;
        position: relative;
    }

    .site-menu__col {
        margin-right: 80px;
    }

    .site-menu__title {
        font-size: 15px;
    }

    .site-menu__text {
        font-size: 12px;
    }
}
@media (min-device-width: 376px) and (max-device-width: 390px) {

    .wrapper {
        width: 100%;
    }

    .hero {
        min-height: 921px;
    }

    .logo {
        margin-left: -80px;
    }

    .htel {
        margin: -10px;
    }

    .hero__content {
        max-width: 230px;
        max-height: 230px;
        margin-top: 245px;
    }

    .header {
        padding: 84px;
        margin-left: 35px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .mail {
        margin-right: 120px;
    }

    .maintel {
        margin-left: -30px;
    }

        .maintel:nth-child(2) {
            order: -1;
        }

        .maintel:nth-child(2) {
            margin-top: -50px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(3) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(1) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .container1 {
        height: 600px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .fade-slider__item--style-tshirts .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-games .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item--style-presents .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item {
        margin-top: -60px;
        width: 150%;
        height: 100%;
        margin-left: -52px;
    }

    .lined-text__word {
        font-size: 30px
    }

    .container {
        width: 350px;
        margin-left: 5px;
    }

    .site-menu__sections {
        justify-content: start;
        position: relative;
    }

    .site-menu__col {
        margin-right: 80px;
    }

    .site-menu__title {
        font-size: 15px;
    }

    .site-menu__text {
        font-size: 12px;
    }
}
@media (min-device-width: 391px) and (max-device-width: 415px) {

    .wrapper {
        width: 100%;
    }

    .hero {
        min-height: 921px;
    }

    .logo {
        margin-left: -80px;
    }

    .htel {
        margin: -10px;
    }

    .hero__content {
        max-width: 230px;
        max-height: 230px;
        margin-top: 245px;
    }

    .header {
        padding: 84px;
        margin-left: 52px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .mail {
        margin-right: 120px;
    }

    .maintel {
        margin-left: -30px;
    }

        .maintel:nth-child(2) {
            order: -1;
        }

        .maintel:nth-child(2) {
            margin-top: -50px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(3) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(1) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .container1 {
        height: 600px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .fade-slider__item--style-tshirts .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-games .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item--style-presents .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item {
        margin-top: -88px;
        width: 150%;
        height: 100%;
        margin-left: -52px;
    }

    .lined-text__word {
        font-size: 30px
    }

    .container {
        width: 428px;
        margin-left: 5px;
    }

    .site-menu__sections {
        justify-content: start;
        position: relative;
    }

    .site-menu__col {
        margin-right: 80px;
    }

    .site-menu__title {
        font-size: 15px;
    }

    .site-menu__text {
        font-size: 12px;
    }
}
@media (min-device-width: 416px) and (max-device-width: 540px) {

    .wrapper {
        width: 100%;
    }

    .hero {
        min-height: 921px;
    }

    .logo {
        margin-left: -80px;
    }

    .htel {
        margin: -10px;
    }

    .hero__content {
        max-width: 230px;
        max-height: 230px;
        margin-top: 245px;
    }

    .header {
        padding: 84px;
        margin-left: 117px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .mail {
        margin-right: 120px;
    }

    .maintel {
        margin-left: -30px;
    }

        .maintel:nth-child(2) {
            order: -1;
        }

        .maintel:nth-child(2) {
            margin-top: -50px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(3) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .maintel:nth-child(1) {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .container1 {
        height: 600px;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .fade-slider__item--style-tshirts .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-games .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item--style-presents .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item {
        margin-top: -11px;
        width: 200%;
        height: 120%;
        margin-left: -111px;
    }

    .lined-text__word {
        font-size: 30px
    }

    .container {
        width: 507px;
        margin-left: 5px;
    }

    .site-menu__sections {
        justify-content: start;
        position: relative;
    }

    .site-menu__col {
        margin-right: 234px;
    }

    .site-menu__title {
        font-size: 15px;
    }

    .site-menu__text {
        font-size: 12px;
    }
}
@media (min-device-width: 912px) and (max-device-width: 1024px) {
    .hero {
        height: 997px;
    }

    .container1 {
        margin-top: 130px;
    }

    .fade-slider__item--style-tshirts .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-games .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item--style-presents .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 500px;
        height: 40%;
    }

    .fade-slider__item {
        width: 150%;
        height: 100%;
        margin-left: -123px;
        margin-top: -251px;
    }

    .fade-slider {
        margin-top: 150px;
        width: 100%;
        height: 50%;
    }

    .mail {
        margin-top: -364px;
        height: 72px;
    }
}
@media (min-device-width: 844px) and (max-device-width: 911px) {
    .hero {
        height: 997px;
    }

    .container1 {
        margin-top: 130px;
    }

    .fade-slider__item--style-tshirts .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-games .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-presents .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .hero__content {
        width: 840px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item {
        width: 100%;
        height: 150%;
        margin-left: 23px;
        margin-top: 19px;
    }

    .fade-slider {
        margin-top: 150px;
        width: 100%;
        height: 50%;
    }

    .mail {
        margin-top: -364px;
        height: 72px;
    }
}
@media (min-device-width: 768px) and (max-device-width: 843px) {
    .hero {
        height: 997px;
    }
    .container1{
        margin-top:130px;
    }
    .fade-slider__item--style-tshirts .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-games .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item--style-presents .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }
    .hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 500px;
        height: 40%;
    }
    .fade-slider__item {
        width: 150%;
        height: 100%;
        margin-left: -123px;
        margin-top: -43px;
    }
    .fade-slider {
        margin-top: 150px;
        width: 100%;
        height: 50%;
    }
    .mail {
        margin-top: -364px;
        height: 72px;
    }
}
@media (min-device-width: 667px) and (max-device-width: 767px) {
    .hero {
        height: 997px;
    }

    .container1 {
        margin-top: 130px;
    }

    .fade-slider__item--style-tshirts .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-games .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item--style-presents .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .hero__content {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 500px;
        height: 40%;
    }

    .fade-slider__item {
        width: 120%;
        height: 220%;
        margin-left: -41px;
        margin-top: 6px;
    }

    .fade-slider {
        width: 120%;
        height: 220%;
        margin-left: -41px;
        margin-top: 6px;
    }

    .mail {
        margin-top: -435px;
        height: 72px;
    }
}
@media (min-device-width: 541px) and (max-device-width: 666px) {
    .hero {
        height: 997px;
    }

    .container1 {
        margin-top: 130px;
    }

    .fade-slider__item--style-tshirts .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(30%);
    }

    .fade-slider__item--style-games .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .fade-slider__item--style-presents .fade-slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
    }

    .hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 500px;
        height: 40%;
    }

    .fade-slider__item {
        width: 150%;
        height: 100%;
        margin-left: -123px;
        margin-top: -51px;
    }

    .fade-slider {
        margin-top: 150px;
        width: 100%;
        height: 50%;
    }

    .mail {
        margin-top: -364px;
        height: 72px;
    }
}
