#header{
background-color:#4B0082;padding: 10px;height:150px;margin:0 auto;
}
#hd_back{
background-color:#9370DB;padding: 5px;height:50px;margin: 30px;color:#E6E6FA;
}
#nav{
background-color:#9370DB;padding: 5px;height:20px;max-width:960px;margin:0 auto;
}
#navt{
margin-left: 25px;display:flex;justify-content:space-around;align-items:center;flex-wrap:wrap;
}
#main{
background-color:#DDA0DD;padding: 5px;max-width:960px;margin:0 auto;
}
#tabl{
background-color:#EE82EE;padding: 5px;max-width:960px;max-width:960px;margin:0 auto;}
#form{
background-color:#DDA0DD;padding: 5px;max-width:960px;margin:0 auto;}
#footer{
background-color:#4B0082;padding: 10px;height:150px;margin:0 auto;color: #D8BFD8;}