body{
    margin: 0;
    display: block;
    font-family: sans-serif;
}
form{
    display: block;
    padding: 30px;
    height: 150px;
    width: 100%;
}

fieldset{
    background-color: gray;
    float:left;
    width: 95%;
}
p{
    display: block;
}
